{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-0 m-0" style="overflow-x: hidden; width: 100%;"> <!-- Removemos márgenes y padding y aseguramos que el ancho es 100% -->
    <div class="row w-100 justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8"> <!-- Aumentamos el tamaño de la columna -->
            <div class="bg-light shadow-sm p-5 rounded" style="min-height: 60vh;"> <!-- Aumentamos el padding y la altura mínima -->
                <div class="text-center mb-4">
                    <h1 class="h1" style="font-size: 2.2rem;">{% block title %}Modificar proyecto{% endblock %}</h1> <!-- Título ajustado -->
                </div>
                <form method="post" action="{{ url_for('proyecto.modificar_proyecto', id=Proyecto.idProyecto) }}">
                    <input type="hidden" name="id" value="{{ Proyecto.idProyecto }}">

                    <div class="form-group mb-5">
                        <label for="nombre" class="h6" style="font-size: 1.3rem;">Nombre del proyecto</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ Proyecto.Nombre }}" required style="font-size: 1.3rem; padding: 1rem; line-height: 2;">
                    </div>
                    <div class="form-group mb-5">
                        <label for="descripcion" class="h6" style="font-size: 1.3rem;">Descripción del proyecto</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" style="font-size: 1.3rem; padding: 1rem; line-height: 2;" rows="4">{{ Proyecto.Descripcion }}</textarea>
                    </div>
                    <div class="form-group mb-5">
                        <label for="tipo_proyecto" class="h6" style="font-size: 1.3rem;">Tipo de proyecto</label>
                        <select class="form-select" aria-label="Tipo de proyecto" id="tipo_proyecto" name="tipo_proyecto" required style="font-size: 1.2rem; padding: 1rem; line-height: 0.8;">
                            <option value="Detección de Objetos" {% if Proyecto.TipoProyecto == 'Detección de Objetos' %}selected{% endif %}>Detección de Objetos</option>
                            <option value="Segmentación de Imágenes" {% if Proyecto.TipoProyecto == 'Segmentación de Imágenes' %}selected{% endif %}>Segmentación de Imágenes</option>
                        </select>
                    </div>                    
                    <div class="form-group mb-5">
                        <label for="objetivo" class="h6" style="font-size: 1.3rem;">Objetivo del proyecto</label>
                        <textarea class="form-control" id="objetivo" name="objetivo" style="font-size: 1.3rem; padding: 1rem; line-height: 2;" rows="4">{{ Proyecto.Objetivo }}</textarea>
                    </div>

                    <div class="d-flex justify-content-between mt-5">
                        <a href="{{ url_for('proyecto.inicio') }}" class="btn btn-danger btn-sm w-48" style="font-size: 1.3rem; padding: 1rem;">Cancelar</a>
                        <button type="submit" class="btn btn-success btn-sm w-48" style="font-size: 1.3rem; padding: 1rem;">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
